In [10]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Actuals.csv")

In [4]:
df.head()

,Material Description,Plant,Period,Year,Amount in LC,Quantity
0,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222
1,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"8,301.32",276
2,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"5,806.34",193
3,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"8,567.33",285
4,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"11,897.03",395

In [6]:
df.isna().sum()

Material Description    1
Plant                   1
Period                  0
Year                    0
Amount in LC            0
Quantity                0
dtype: int64

In [19]:
df.shape

(65065, 6)

In [20]:
nf = df[df['Material Description'].isna()]
nf

      Material Description Plant  Period  Year    Amount in LC  Quantity
13042                  NaN   NaN       8  2022   -1,78,233.16          2

In [15]:
acts = df[~df['Material Description'].isna()]

In [16]:
acts.head()

,Material Description,Plant,Period,Year,Amount in LC,Quantity
0,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222
1,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"8,301.32",276
2,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"5,806.34",193
3,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"8,567.33",285
4,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"11,897.03",395

In [17]:
acts.shape

(65064, 6)

In [18]:
acts.isna().sum()

Material Description    0
Plant                   0
Period                  0
Year                    0
Amount in LC            0
Quantity                0
dtype: int64

In [21]:
bcr = pd.read_csv("B&CR.csv")

In [22]:
price = pd.read_csv('Price.csv')

In [24]:
tgt = pd.read_csv('Targets.csv')

In [25]:
bcr.shape,price.shape,tgt.shape

((74, 3), (519, 3), (926, 6))

In [26]:
test_df = acts.merge(price, on=['Material Description', 'Plant'])

In [27]:
test_df.shape

(65113, 7)

In [28]:
test_df.to_csv('TestFile.csv')

In [29]:
tgt.isna().sum()

Year                    0
Period                  0
Plant                 700
Material Number       572
Target Value in LC      0
Target Quantity         0
dtype: int64

In [30]:
tgt.shape

(926, 6)